# NIPA stream servers pool
virtual_server {{ ansible_eth0.ipv4.address }} 8080 {
  delay_loop 15
  lb_algo wlc
  lb_kind TUN
  persistence_timeout 86400
  protocol TCP

  real_server 192.168.1.2 8080 {
    TCP_CHECK {
      connect_timeout 30
    }
  }
  real_server 192.168.1.3 8080 {
    TCP_CHECK {
      connect_timeout 30
    }
  }
  real_server 192.168.1.4 8080 {
    TCP_CHECK {
      connect_timeout 30
    }
  }
}
